<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-10">
                  <h1 class="admin-heading"><i class="fa fa-file-text"></i> All Articles</h1>
              </div>
              <div class="col-md-2">
                  <a class="add-new" href="add-article.html">Add New Article</a>
              </div>
              <div class="col-md-12">
                  <table class="content-table" style="background: white;">
                      <thead>
                        <th>S.No.</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Author</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </thead>
                      <tbody>
                          <tr>
                              <td class='id'>1</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>2</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>3</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>4</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>5</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>6</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>7</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                          <tr>
                              <td class='id'>8</td>
                              <td>Lorem ipsum dolor sit amet</td>
                              <td>Html</td>
                              <td>01 Nov, 2025</td>
                              <td>Admin</td>
                              <td class='edit'><a href='update-article.html'><i class='fa fa-edit'></i></a></td>
                              <td class='delete'><a href='delete-article.html'><i class='fa fa-trash-o'></i></a></td>
                          </tr>
                      </tbody>
                  </table>
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#" aria-current="page">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>