<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading mb-3"><i class="fa fa-cubes"></i>Dashboard | <small>Hello <%= fullname %> </small></h1>
              </div>
              <div class="col-md-3">
                  <div class="admin-block" style="background-color: #CFE2FF;">
                    <i class="fa fa-file-text"></i>
                    <h4>Articles</h4>
                    <h1><%= articleCount %></h1>
                  </div>
              </div>
              <div class="col-md-3">
                  <div class="admin-block">
                    <i class="fa fa-gears"></i>
                    <h4>Categories</h4>
                    <h1><%= categoryCount %></h1>
                  </div>
              </div>
              <% if(role == 'admin') { %> 
              <div class="col-md-3">
                  <div class="admin-block" style="background-color: #D2F4EA;">
                    <i class="fa fa-users"></i>
                    <h4>Users</h4>
                    <h1><%= userCount %></h1>
                  </div>
              </div>
              <% } %> 
          </div>
      </div>
  </div>