<div id="admin-content">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="adin-heading"> Update Category</h1>
        </div>
        <div class="col-md-6 mx-auto">
            <div class="card">
              <h5 class="card-header">Update Category</h5>
              <div class="card-body">
                <!-- Form Start -->
                <form action="/admin/update-category/<%= category.id %>" method="POST" autocomplete="off">
                  <div class="mb-3">
                    <label for="" class="form-label">Category Name</label>
                    <input type="text" name="name" value="<%= category.name %>" class="form-control" placeholder="Category Name" required>
                  </div>
                  <div class="mb-3">
                    <label for="" class="form-label">Description</label>
                    <textarea name="description" class="form-control"><%= category.description %></textarea>
                  </div>
                  <input type="submit" name="save" class="btn btn-primary" value="Update" required />
                </form>
                <!-- /Form End -->
                 <!-- Error Message -->
                    <%- include('../partials/error') %> 
                  <!-- /Error Message -->
              </div>
            </div>
        </div>
    </div>
  </div>
</div>