<!-- post-container -->
  <div class="post-container">
    <h1 class="mb-3">Error <%= status %> :</h1>

    <div class="alert alert-warning">
      <%= message %> 
    </div>
  </div>
<!-- /post-container -->