<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading"><i class="fa fa-comments"></i> Comments Management</h1>
              </div>
              <div class="col-md-12">
                <div id="commentsTable"></div>
                  <!-- <table class="content-table" style="background: white;">
                      <thead>
                          <th>Article</th>
                          <th>Name</th>
                          <th>Comment</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th>Actions</th>
                      </thead>
                      <tbody>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#" aria-current="page">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav> -->
              </div>
          </div>
      </div>
  </div>

  <div class="modal" id="commentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="commentModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@6.0.0/dist/js/tabulator.min.js"></script>

<script>
const tableData = <%- JSON.stringify(comments) %>

var table = new Tabulator("#commentsTable", {
    data: tableData,
    layout:"fitColumns",      
    pagination:true,
    paginationSize:10,
    paginationSizeSelector:[5,10,25,50,100],
    columns: [
        { title: "S.No.", formatter:"rownum", width:100, hozAlign:"center" },
        { title: "Article", field: "article.title", headerFilter:"input" },
        { title: "Content", field: "content", headerFilter:"input" },
        { title: "Name", field: "name", headerFilter:"input" },
        { title: "Date", field: "createdAt", headerFilter:"input", 
        formatter:function(cell, formatterParams, onRendered){
          var date = new Date(cell.getValue());
          return date.toLocaleDateString('en-GB', { day: '2-digit', month: 'short', year: 'numeric' }).replace(/\s/g, '-');
        } },
        { title: "Status", field: "status", headerFilter:"input" },
        { title: "Actions", formatter: function(cell, formatterParams, onRendered) {
            return `<button onclick="viewComment('${cell.getData()._id}')" class="btn btn-sm btn-success">View</button>
                    <button onclick="deleteComment('${cell.getData()._id}')" class="btn btn-sm btn-danger delete-comment" >Delete</button>`;
        }}
    ],
});

// View Comment
function viewComment(id){
  const comment = tableData.find(comment => comment._id === id);

  const html = `
        <p><b>Message</b> : ${comment.content}</p>
        <select class="form-select" onchange="updateCommentStatus('${comment._id}', this.value)">
          <option value="pending" ${comment.status === 'pending' ? 'selected' : ''}>Pending</option>
          <option value="approved" ${comment.status === 'approved' ? 'selected' : ''}>Approved</option>
          <option value="rejected" ${comment.status === 'rejected' ? 'selected' : ''}>Rejected</option>
        </select>
  `;

  const modal = new bootstrap.Modal(document.getElementById('commentModal'));
  document.getElementById('commentModalLabel').textContent = `Comment By ${comment.name}`; ;
  const modalBody = document.getElementById('commentModalBody');
  modalBody.innerHTML = html;
  modal.show();
}

// Update Comment Status
async function updateCommentStatus(id, status){ 
  await fetch(`/admin/update-comment-status/${id}`, {
    method: 'put',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ status })
  })
  .then(response => response.json())
  .then(data => {
    if(data.success){
      window.location.reload();
    }
  })
  .catch(error => {
    console.log(error)
  })
  
}

// Delete Comment
async function deleteComment(id){
  try {
    if (confirm("Are you sure you want to delete this comment?")) {
      const response = await fetch(`/admin/delete-comment/${id}`, {
        method: 'delete'
      });
      if(response.ok){
        window.location.reload();
      }
    }
  } catch (error) {
    console.log(error);
  }
}
</script>

<%- contentFor('tabulatorCSS') %>
<link href="https://unpkg.com/tabulator-tables@6.0.0/dist/css/tabulator.min.css" rel="stylesheet">  