<div id="admin-content">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="admin-heading"><i class="fa fa-comments"></i> Comments Management</h1>
              </div>
              <div class="col-md-12">
                  <table class="content-table" style="background: white;">
                      <thead>
                          <th>Article</th>
                          <th>Name</th>
                          <th>Comment</th>
                          <th>Status</th>
                          <th>Date</th>
                          <th>Actions</th>
                      </thead>
                      <tbody>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class='id'>Ipsum dolor sit amet</td>
                            <td>Rahul Sharma</td>
                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, eveniet!</td>
                            <td>Approved</td>
                            <td>02-Nov-2025</td>
                            <td class='edit'>
                              <select name="status" class="form-select form-select-sm d-inline-block w-auto">
                                <option value="pending">Pending</option>
                                <option value="approved" selected="">Approved</option>
                                <option value="rejected">Rejected</option>
                              </select>
                            </td>
                          </tr>
                      </tbody>
                  </table>
                  <nav aria-label="...">
                    <ul class="pagination">
                      <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item active">
                        <a class="page-link" href="#" aria-current="page">2</a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                      </li>
                    </ul>
                  </nav>
              </div>
          </div>
      </div>
  </div>